/* Header.css */

/* Custom background color for the navbar */
.navbar-nav .nav-link,
.custom-navbar .navbar-brand {
  color: #fff !important;


}

/* To make the navlinks more highlighted */
.active {
  background-color: #CF6301;
  color: #fff;
  border-radius: 2rem;
  display: inline-block;
  transition: background-color 0.8s, color 0.8s;
  font-weight: bold;
  text-decoration: none;


}

.custom-navbar {
  background-color: rgb(8, 70, 123);
  width: 100%;
}

/* Add margin between navigation items */
.custom-nav .nav-link {
  margin-right: 30px;
  /* Adjust the margin as needed */
}


.custom-login-link {
  background-color: #CF6301;
  color: #FFFFFF;
  padding: 5px 20px;
  border-radius: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.custom-login-link:hover {
  background-color: #FF8500;
  color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s;
}




/* Layout.css */
.content-layout {
  height: 80vh;
}




/* Register-Page*/


.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}



/* shared css */
/* Shared background image style */
.shared-background {
  background: #333;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* 
/* CSS */
.content-layout {
  padding-bottom: 100px;
  /* Set the height of your footer here */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Set your footer height */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}