.container-style {
    height: 100vh;
    color: #333 !important;
    text-align: center;
    position: relative;
    /* Add this to make sure children are positioned relative to this container */
}

.description {
    width: 600px;
    position: absolute;
    z-index: 999;
    color: aliceblue;
    top: 50%;
    /* Adjust to center vertically */
    left: 50%;
    /* Adjust to center horizontally */
    transform: translate(-50%, -50%);
}

.description h1 {
    font-size: 100px;
    margin: 0;
    /* Remove default margin */
}

.description p {
    font-size: 22px;
    font-style: normal;
}

.carousel-boult {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    /* Adjust as needed */
    left: 0;
    right: 0;
}

.carousel-boult span {
    width: 54px;
    height: 15px;
    background-color: rgb(188, 127, 5);
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 1px 2px;
}

.transparent-backgorund {

    width: 100%;
    height: 50vh;
    position: absolute;
    z-index: 999;
    top: 50;
    left: 10;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(8, 70, 123));

}