.container-style {
    height: 100%;
    color: #333 !important;
    text-align: center;
}

.des {
    width: 600px;
    position: absolute;
    z-index: 999;
    color: aliceblue;
    top: 30%;
    left: 30%;
}

.des h1 {
    font-size: 100px;
}

.des p {
    font-size: 30px;
}

/* CSS for scrollable content */


.transparent-backgorund {

    width: 100%;
    height: 50vh;
    position: absolute;
    z-index: 999;
    top: 20;
    left: 20;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(8, 70, 123));

}

.content-container {
    flex-grow: 1;
    padding: 20px;
    /* Add padding to separate content from the edge */
}

/* CSS for Layout (your Layout component) */